configuration {
    modi: "drun,run,window";
    font: "FiraCode Nerd Font Mono 12";
    show-icons: true;
    terminal: "wezterm";
    drun-display-format: "{icon} {name}";
    display-drun: " Apps";
    display-run: " Run";
    display-window: " Window";
    sidebar-mode: true;
}

@theme "darkmatrix"
